body {
    font-family: 'Arial', sans-serif;
}

h1, h3 {
    color: #333;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.display-4 {
    font-size: 2.5rem;
}

.text-center a {
    color: #007bff;
}

.text-center a:hover {
    text-decoration: underline;
}

.bg-light {
    background-color: #f8f9fa !important;
}

/* ホバーした際の下線を無効化 */
a.custom-link:hover {
    text-decoration: none;
    background-color: #17a2b8;
    color: white;
    border-color: #17a2b8;
}

.default-color {
    background-color: #4d77c0;
    color: white;
}

.btn.default-color:hover {
    background-color: #324f82;
    color: white;
}
.btn.default-color:active { /* クリック中の処理 */
    background-color: #324f82;
    color: white;
}

/* ボタンが押し込まれた状態にする */
.btn-pressed {
    background-color: #324f82;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2); /* 内側の影.  */
}

.default-color2 {
    background-color: #9ed9f9;
}

html {
    overflow-y: scroll;
}